<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}


<!-- Bootstrap Reference Files -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width, initial-scale=1">
    <title>Homepage</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/custom.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    {% include "navbar&header.html" %}
    <br>

    <!-- Title --->
    <div class="container-fluid">
        <div class="row-center">
            <div class="col">
                <h1 class="text-center display-4">Welcome to the SHP Farm Website</h1>
            </div>
        </div>
    </div>

    <br>

    <!-- Both Cards --->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="{% url 'datahomepage' %}" class="text-decoration-none text-reset">
                    <div class="card float-right" style="width: 450px;margin:0 auto;">
                        <img class="card-img-top" src="{% static "images/Data-Picture.jpg" %}" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-title">Data</h4>
                          <p class="card-text">This is where you can input new data and view current and archived data.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-1"></div>
            <div class="col">
                <a href="{% url 'sciencehome' %}" class="text-decoration-none text-reset">
                    <div class="card float-left" style="width: 450px;margin:0 auto;">
                        <img class="card-img-top" src="{% static "images/Plant-Science.jpg" %}" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-title">Science</h4>
                          <p class="card-text">This is where you can view real time data from sensors placed inside of various plant beds around campus</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</body>

</html>